*{
    margin: auto;
    color: rgb(255, 255, 255);
}

body {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 15px;
    height: 100vh;
    text-align: center;
    background-image: url('../images/cat.jpg');
    background-size: cover;
}

@media (max-width: 600px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 24px;
    }
}

h1 {
    color: #131313; /* dark grey */
    font-family: Arial, sans-serif;
    font-size: 2.5em; /* 40px */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #424242; /* lighter grey */
    font-family: Arial, sans-serif;
    font-size: 2em; /* 32px */
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
}
p{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 30px;
}
button {
    background-color: blue;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.data {
    color: black;
    background: #52525286;
    text-align: center;
    padding: auto;
    border-radius: 20px;
    padding: 20px;
    width: 50%; 
    font-size: 30px;
}

.dataC {
    color: black;
    background: #52525286;
    text-align: center;
    padding: auto;
    border-radius: 20px;
    padding: 20px;
    width: 100%; 
    font-size: 30px;
}

#api-dataHorari {
    width: 100%;
    padding: 20px;
    color: #333;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}

img {
    display: center;
}

.main {
    background-color: #f3f3f385;
    border-radius: 70px;
}

.link{
    color : #380568;
}

#professorId{
    color:#131313;
}